h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-style: italic;
    font-size: large;
    line-height: .25;
}

h3 {
    text-transform: uppercase;
    line-height: .25;
}

p.center {
    text-align: center;
    line-height: .25;
}

p {
    line-height: .25;
}

br {
    line-height: 0;
}